In [82]:
library(dplyr)

In [2]:
records <- c(1,0,0,1,1,1,0,0,1,1,1,1,0,0,0,0,1,1,1,1,1,0,0,0,1,1,1,0,0,0)
data  <- data.frame(matrix(records, 10,3, byrow=TRUE))

data

   X1 X2 X3
1  1  0  0
2  1  1  1
3  0  0  1
4  1  1  1
5  0  0  0
6  0  1  1
7  1  1  1
8  0  0  0
9  1  1  1
10 0  0  0

In [83]:
scoring.function <- function(data, i, parents){
  # Find the possible values of the attribute i
  r.i <- data |> distinct(data[[i]]) |> nrow()

  if (length(parents) == 0){
    N <- nrow(data)

    num1 <- data |> 
      group_by(data[[i]]) |> 
      count() |> 
      mutate(a = factorial(n)) |> 
      ungroup() |> 
      pull(a) |>
      prod()

    # To do consistently with the other case
  } else {
    alpha <- data |> group_by(data[c(i, parents)]) |> count()

    N <- alpha |> group_by(alpha[parents]) |> 
      summarise(N = sum(n), .groups = "drop") |> 
      select(N)

    num1 <- alpha |>
      group_by(alpha[parents]) |>
      summarise(alpha = prod(factorial(n)), .groups = "drop") |>
      pull(alpha)
  }

  # Calculate the score
  den <- sapply(N, function(x, r) factorial(x + r - 1), r=r.i)
  num2 <- factorial(r.i - 1)

  return(prod(num2 / den * num1))
}

In [85]:
scoring.function(data, "X3", c())

[1] 0.0004329004